* {
    font-family: monospace
}

.url {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    background: #FFF;
    padding: 20px 0;
    top: 0;
    margin: 0;
}

.url.displayed {
    display: block;
    border-bottom: 1px solid
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.clock {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100vh;
    float: left;
}

.clock .value {
    margin: auto;
    font-size: 12vw;
}

.create-game {
    top: 45vh;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    background: #FFF;
    width: 100vw;
}

.create-game.submitted {
    display: none;
}

.create-game button {
    background: #FFF;
}

.create-game input, .create-game button {
    padding: 20px;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    font-size: 5vw
}

body:not(.init) .clock.last {
}

.clock.stop {
    background: #DDD;
}
