body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.clock {
    display: flex;
    align-items: center;
    width: 49.5vw;
    height: 100vh;
    float: left;
}

.clock .value {
    margin: auto;
    font-size: 12vw;
}

.clock.last {
    border-left: 3px solid #FFF;
}

.clock.stop {
    background: #DDD;
}
